In [2]:
import pandas

In [3]:
d = pandas.DataFrame()
type(d)

pandas.core.frame.DataFrame

In [4]:
d = pandas.DataFrame([['Andy', 46, 'Engineer'], ['Jane', 33, 'Nurse'], ['Robert', 21, 'Student'], ['Maria', 30, 'Student']])
type(d)

pandas.core.frame.DataFrame

In [5]:
d

        0   1         2
0    Andy  46  Engineer
1    Jane  33     Nurse
2  Robert  21   Student
3   Maria  30   Student

In [6]:
d = pandas.DataFrame([['Andy', 46, 'Engineer'], ['Jane', 33, 'Nurse'], ['Robert', 21, 'Student'], ['Maria', 30, 'Student']], columns=["Name", "Age", "Occupation"], index=["ID1", "ID2", "ID3", "ID4"])
d

       Name  Age Occupation
ID1    Andy   46   Engineer
ID2    Jane   33      Nurse
ID3  Robert   21    Student
ID4   Maria   30    Student

<h2>Working with HTML Content</h2>

In [7]:
url = "https://en.wikipedia.org/wiki/Python_(programming_language)"
d = pandas.read_html(url)[1]
d

,Type,Mutability,Description,Syntax examples
0,bool,immutable,Boolean value,True False
1,bytearray,mutable,Sequence of bytes,"bytearray(b'Some ASCII') bytearray(b""Some ASCI..."
2,bytes,immutable,Sequence of bytes,"b'Some ASCII' b""Some ASCII"" bytes([119, 105, 1..."
3,complex,immutable,Complex number with real and imaginary parts,3+2.7j 3 + 2.7j
4,dict,mutable,Associative array (or dictionary) of key and v...,"{'key1': 1.0, 3: False} {}"
5,types.EllipsisType,immutable,An ellipsis placeholder to be used as an index...,... Ellipsis
6,float,immutable,Double-precision floating-point number. The pr...,1.33333
7,frozenset,immutable,"Unordered set, contains no duplicates; can con...","frozenset([4.0, 'string', True])"
8,int,immutable,Integer of unlimited magnitude[106],42
9,list,mutable,"List, can contain mixed types","[4.0, 'string', True] []"
10,types.NoneType,immutable,"An object representing the absence of a value,...",NaN
11,types.NotImplementedType,immutable,A placeholder that can be returned from overlo...,NotImplemented
12,range,immutable,An immutable sequence of numbers commonly used...,"range(-1, 10) range(10, -5, -2)"
13,set,mutable,"Unordered set, contains no duplicates; can con...","{4.0, 'string', True} set()"
14,str,immutable,A character string: sequence of Unicode codepo...,"'Wikipedia' ""Wikipedia""""""""Spanning multiple li..."
15,tuple,immutable,Can contain mixed types,"(4.0, 'string', True) ('single element',) ()"

In [8]:
data = d.to_string()
data

'                        Type Mutability                                                                                                                                                                      Description                                                                    Syntax examples\n0                       bool  immutable                                                                                                                                                                    Boolean value                                                                         True False\n1                  bytearray    mutable                                                                                                                                                                Sequence of bytes  bytearray(b\'Some ASCII\') bytearray(b"Some ASCII") bytearray([119, 105, 107, 105])\n2                      bytes  immutable                                                                                                                                                                Sequence of bytes                            b\'Some ASCII\' b"Some ASCII" bytes([119, 105, 107, 105])\n3                    complex  immutable                                                                                                                                     Complex number with real and imaginary parts                                                                    3+2.7j 3 + 2.7j\n4                       dict    mutable                                                Associative array (or dictionary) of key and value pairs; can contain mixed types (keys and values), keys must be a hashable type                                                         {\'key1\': 1.0, 3: False} {}\n5         types.EllipsisType  immutable                                                                                                                   An ellipsis placeholder to be used as an index in NumPy arrays                                                                       ... Ellipsis\n6                      float  immutable  Double-precision floating-point number. The precision is machine-dependent but in practice is generally implemented as a 64-bit IEEE\xa0754 number with 53\xa0bits of precision.[105]                                                                            1.33333\n7                  frozenset  immutable                                                                                                      Unordered set, contains no duplicates; can contain mixed types, if hashable                                                   frozenset([4.0, \'string\', True])\n8                        int  immutable                                                                                                                                              Integer of unlimited magnitude[106]                                                                                 42\n9                       list    mutable                                                                                                                                                    List, can contain mixed types                                                           [4.0, \'string\', True] []\n10            types.NoneType  immutable                                                                                              An object representing the absence of a value, often called null in other languages                                                                                NaN\n11  types.NotImplementedType  immutable                                                                              A placeholder that can be returned from overloaded operators to indicate unsupported operand types.                                                                     NotImplemented\n12                     range  immutable                                                                          An immutable sequence of numbers commonly used for looping a specific number of times in for loops[107]                                                    range(-1, 10) range(10, -5, -2)\n13                       set    mutable                                                                                                      Unordered set, contains no duplicates; can contain mixed types, if hashable                                                        {4.0, \'string\', True} set()\n14                       str  immutable                                                                                                                               A character string: sequence of Unicode codepoints       \'Wikipedia\' "Wikipedia""""Spanning multiple lines""" Spanning multiple lines\n15                     tuple  immutable                                                                                                                                                          Can contain mixed types                                       (4.0, \'string\', True) (\'single element\',) ()'

<b>Question 1.</b> Display the data type from the table that are mutable.

In [22]:
import re
s1 = re.findall(r"\n\d{1,}\s{1,}(.+?)\s{1,}mutable.+",data)
s1

['bytearray', 'dict', 'list', 'set']

<b>Question 2.</b> Display the data types those who have `{}` in the syntax example.

In [24]:
s2 = re.findall(r"\n\d{1,}\s{1,}(\w+?)\s{1,}.+\{.+\}", data)
s2

['dict', 'set']

<b>Question 3.</b> Display the descirption of those data types those are 4 character long.

In [28]:
s3 = re.findall(r"\n\d{1,}\s{1,}\w{1,4}\s{1,}\w+?\s{1,}(.+?)\s{2,}.+", data)
s3

['Boolean value',
 'Associative array (or dictionary) of key and value pairs; can contain mixed types (keys and values), keys must be a hashable type',
 'Integer of unlimited magnitude[106]',
 'List, can contain mixed types',
 'Unordered set, contains no duplicates; can contain mixed types, if hashable',
 'A character string: sequence of Unicode codepoints']

<b>Question 4.</b> Display the 1st 10 character of the description whose data type ids are odd.

In [29]:
s4 = re.findall(r"\d*[13579]\s{1,}\w+?\s{1,}\w+?\s{1,}(.{10})", data)
s4

['Sequence o',
 'Complex nu',
 'precision.',
 'immutable ',
 'List, can ',
 'Unordered ',
 'Can contai']

<b>Question 5.</b> Display the data types from the dataframe whose Syntax example contain a floating point number

In [30]:
s5 = re.findall(r"\n\d{1,}\s{1,}(\w+?)\s{1,}.+\d{1,}\.\d{1,}", data)
s5

['complex', 'dict', 'float', 'frozenset', 'list', 'set', 'tuple']

<b>Question 6.</b> Use a regular expressions pattern with the findall() method, to return the immutable data types whose names are at least 7 characters long.

In [31]:
s6 = re.findall(r"\d{1,}\s{1,}(\w{7,})\s{1,}immutable", data)
s6

['complex', 'frozenset']

<b>Question 7.</b> Use a regular expressions pattern with the findall() method, to return the descriptions for all immutable data types whose names are no more than 3 characters long.

In [32]:
s7 = re.findall(r"\d{1,}\s{1,}\w{1,3}\s{1,}immutable\s{1,}(.+?)\s{2,}", data)
s7

['Integer of unlimited magnitude[106]',
 'A character string: sequence of Unicode codepoints']

 <b>Quetion 8.</b> Use a regular expressions pattern with the findall() method, to return all the data types whose ID is an even number (including 0).

In [40]:
s8 = re.findall(r"\n\d*[02468]\s{1,}(\w+?)\s{1,}", data)
s8

['bool', 'bytes', 'dict', 'float', 'int', 'range', 'str']

 <b>Question 9.</b> Use a regular expressions pattern with the findall() method, to return the data types whose IDs are made of only 1 digit and contain at least 3 consecutive digits somewhere on their respective lines.

In [45]:
s9 = re.findall(r"\d{1}\s{1,}(\w+?)\s{1,}.*\d{3}.", data)
s9

['bytearray', 'bytes', 'float', 'int', 'range']

<b>Question 10.</b> Use a regular expressions pattern with the findall() method, to return all the immutable data types that do not contain a digit in the Description and the Syntax Example columns.

In [48]:
s10 = re.findall(r"\d{1,}\s{1,}(\w{1,})\s{1,}immutable\s{1,}(?!.*\d{1,}.*)", data)
s10

['bool', 'str']